* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0.5rem 40%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#background {
    display: flex;
    justify-content: center;
}

#bord {
    position: relative;
    height: 39.2rem;
    width: 63.125rem;
    background-image: url(./images/1.jpg);
    border-radius: 2%;
}

.block {
    width: 2.8em;
    height: 2.8em;
    margin: 0.125em;
    display: block;

}

.top {
    display: flex;
    justify-content: flex-start;
}

.buttom {
    display: flex;
    justify-content: flex-end;
}

.right {
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: row;

}

.tl {
    position: absolute;
    left: 7.2rem;
    top: 0.2rem;
}

.tr {
    position: absolute;
    right: 7.2rem;
    top: 0.2rem;
}

.bl {
    position: absolute;
    left: 7.3rem;
    bottom: 0.2em;
}

.br {
    position: absolute;
    right: 7.2rem;
    bottom: 0.2em;
}

.colr {

    min-width: 3em;
    max-height: 14em;
    text-align: center;
    margin-left: 0.5em;

}

.coll {

    min-width: 3em;
    max-height: 14em;
    text-align: center;
    margin-right: 0.5em;

}

.rev {
    display: flex;
    flex-direction: column-reverse;

}


.diceSec {
    position: absolute;
    left: 43rem;
    top: 18rem;
    text-align: center;
    height: fit-content;
    width: fit-content;
}

.dice {
    height: 2.5em;
    width: 2.5em;
    margin: 2.5px;
    border-radius: 5%;
    background-color: rgba(60, 30, 2, 0.735);
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.728);
}
.rollbtn{
    position: absolute;
    left: 29.2rem;
    top: 19.4rem;
    height: 2.7em;
    width: 5.5em;
    text-align: center;
    margin-top: 1em;
    border-radius: 5%;
    background-color: rgb(84, 37, 10);
    box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.728);
    cursor: pointer;
}
.rollbtn:hover{
    box-shadow: inset 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.728);
}

.sugustCol{

    border-top:10px rgb(21, 235, 21);

}

